@font-face {
            font-family: "Contrail" ;
            src: url("../fonts/ContrailOne-Regular.ttf");
        }
        @font-face {
            font-family: "poppins-regular" ;
            src: url("../fonts/Poppins/Poppins-Light.ttf");
        }
        @font-face {
            font-family: "poppins-medium" ;
            src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
        }
        body{
            padding: 0px;
            margin: 0px;
            background-color: #181818;
        }
        .bg{
            padding-left: 2.2rem;
            padding-right: 2.2rem;
        }
        .grid{
            display: grid;
            grid-template-columns: 5fr 7fr;
            color: white;
        }
        .h-img{
            width: 100%;
        }
        .h-heading{
            font-size: 4.1rem;
            font-family: "Contrail";
        }

        .h-heading-color{
            color: #F7B41A;
        }
        .left-side{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
        .h-subheading{
            columns: white;
            font-family: "poppins-regular" ;

        }
        .h-btn{
            background-color: #F7B41A;
            color: white;
            border-radius: 50px;
            border: none;
            width: 25%;
            padding-top: .8rem;
            padding-bottom: .8rem;
            font-family: "poppins-medium" ;
            font-size: 1rem;
            margin-top: 2rem;
        }
        .h-btn:hover{
            background-color: #e5a717;
        }
        .h-btn:active{
            background-color: #c48f12;
        }
        .customer-review{
            position: relative;
            margin-top: 2rem;
        }

        .review{
            width: 80px;
            position: absolute;
        }
        .h-img2{
            left: 50px;
        }
        .h-img3{
            left: 100px;
        }